@mixin heading($font-size, $top-margin: true) {
  @if $top-margin {
    margin-top: 2em / $font-size * 1em;
  }

  line-height: 2em / $font-size;
  font: {
    size: $font-size;
    family: Whitney SSm A, Whitney SSm B, sans-serif;;
    weight: bold;
  }
}

h1 {
  @include heading(1.9em, false);
  margin-top: 4em / 1.9em * 1em;
}

h2 {
  @include heading(1.65em);
}

h3 {
  @include heading(1.2em);
}
