@import "mixins";

.site-header {
  font-size: 1.5em;
  margin: 2em 0;

  img {
    height: 10em;
    width: 10em;
    border-radius: 10em;
  }

  h1 {
    margin-top: .5em;

    a {
      @extend %subtle-link;
    }
  }

  nav {
    margin-top: $baseline - 1px;

    a {
      margin: 0 .5em;
      display: inline-block;
    }
  }
}
