@mixin keyframes($name) {
  @-webkit-keyframes $name {
    @content;
  }

  @-moz-keyframes $name {
    @content;
  }

  @-o-keyframes $name {
    @content;
  }

  @keyframes $name {
    @content;
  }
}

%subtle-link {
  color: inherit;
  text-decoration: none;
  
  &:hover, &:focus {
    text-decoration: underline;
  }
}
