<!DOCTYPE html>
<meta charset="utf-8">

{% if page.title %}
  <title>{{ page.title }} · {{ site.name }}</title>
{% else %}
  <title>{{ site.name }}</title>
{% endif %}

<link rel="icon" type="image/jpeg" href="//gravatar.com/avatar/{{ site.gravatar }}?s=16">
{% feed_meta %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//writ.cmcenroe.me/1.0.2/writ.min.css">
<link rel="stylesheet" href="/css/site.css">

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<header>
  <h1>Nauman Ahmad</h1>

  <nav>
    <ul>
      {% for nav_page in site.nav.pages %}
        <li><a href="{{ nav_page.href }}">{{ nav_page.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <nav>
    <ul>
      {% for link in site.nav.links %}
        <li>
          <a href="{{ link.href }}">
            <i class="fa {{ link.icon }}"></i> {{ link.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>

<main>
  {{ content }}
</main>
